{
  "presets": [
    "es2015"
    // [ "es2015", { modules: false } ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "m"
      },
      "module-resolver",
      {
        "root": [
          "./src", "./src/utils", "./node_modules"
        ]
      }
    ]
  ]
}
