/* styles.css */
body,.input,.button {font:normal 12px Verdana;margin:0;}

a {text-decoration:none;}
.navbar {text-decoration:none;margin:0;padding:0;background:#f7f7f7;}
.navbar:hover {text-decoration:underline;}

.layout {margin:10px auto;max-width:1000px;}
/* .menu {margin:0 0 30px;} */

.list, .form {list-style:none;margin:0;padding:0;}
.list-item, .list-header, .label, .footer {background:#f7f7f7;border:0 0 1px 0 solid #ccc;color:#333;display:block;margin:0;padding:5px 5px;text-decoration:none;}
.list-item:hover {background:#fdfdfd;}
.list-item-label {width:150px;}
.list-item-label, .list-item-buttons {display:inline-block;}
.list-item-buttons .button {margin:0 2px;}

.input {border:1px solid #ddd;border-radius:3px;box-sizing:border-box;display:block;margin:0 0 5px;padding:5px 8px;width:100%;}
.button {background:#eee;border:0 solid #bbb;border-radius:3px;border-width:0 0 1px 0;color:#333;display:inline-block;margin:0;padding:5px 5px;text-decoration:none;}
.navbar .button, .list-header .button { padding:5px 5px; border-right:1px solid #bbb; border-width:0 1px 0 0; border-radius:0; }
.button:hover {background:#fbfbfb;}


